.container{
    display: flex;
    justify-content: center;
    padding-top: 30px;;
}
.card-layout{
    width:500px;
    display: flex;
    justify-content: center;
}
mat-form-field{
    width: 100%;
}
mat-card-header{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;

}
.listing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error-container{
    display: flex;
    justify-content: center;
    p{
        color: red;
    }
}
.cross-over{
    text-decoration: line-through;
}