<div class="container">
  <mat-card appearance="outlined" class="card-layout">
    <mat-card-header>
      <mat-card-title>TODO LIST APP</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (selectedIndex >=0){
        <div class="error-container">
          <p>EDIT MODE</p>
        </div>
      }
      <div>
        <mat-form-field appearance="outline" >
          <mat-label>Description</mat-label>
          <input matInput placeholder="Task"[(ngModel)]="description">
          @if (selectedIndex >=0){
            <mat-icon matSuffix (click)="updateItem()">save_as</mat-icon>
          }
          @else {
            <mat-icon matSuffix (click)="save()">save</mat-icon>
          }
        </mat-form-field>
      </div> 
      @for (item of todoList(); track item.id; let i = $index) {
        <div class="listing">
          <div>
            <mat-checkbox (click)="checkmarkChanged(i)" [disabled]="selectedIndex >=0">
              <span [ngClass]="item.done ? 'cross-over':''">
              {{item.description}}</span></mat-checkbox>
          </div>
          @if (selectedIndex < 0) {
            <div>
              @if (!item.done) {
                <mat-icon matSuffix (click)="editItem(i, item)" >edit</mat-icon>&nbsp;
              }
              <mat-icon matSuffix (click)="deleteConfirmation(i)">delete</mat-icon>
            </div>  
          }
          
        </div>
      }
      @empty {
        <div class="error-container">
          <p>No task available</p>
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>
